
{% block nav %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#cat1">Products form category</a>
        </li>
    </ul>
{% endblock %}