
{% block nav %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#cat1">Category 1</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cat2">Category 2</a>
        </li>
    </ul>
{% endblock %}